.statusbarActiv{
    /* Style der Statusbar bei aktiver Seite*/
    background-color: #4f83cc;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.statusbarInactiv{
    /* Style der Statusbar bei inaktiver Seite*/
    background-color: #01579b;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.inputbox{
    background-color: #F2F2F2;
     /*wird nicht mehr benötigt*/
}

.addbox{
    background-color: #F2F2F2;
    padding: 2%;
}

.textfield{
    margin-top: 1%;
    margin-bottom: 1%;
}

#bootstrap-overrides .deleteButton{
    padding: 0.25%;
    max-width: 2.5%;
    margin-bottom: 2%;
    /* Höhe der Box fehlerhaft*/
}

#deletebutton{
    padding: 0.25%;
    /*max-width: 3%;*/
    padding-right: 0.5%;
}

.rowBottomMargin{
    margin-bottom: 2%;
}

.colBox{
    background-color: #F2F2F2;
    padding: 1%;
}

/in PersoenlicheDaten.html style für select dings/
.centerBlock { 
    display:table-row;
    width:auto;
    text-align: center;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 239.25%;
    overflow: hidden;
    width: 1980%;
 }
 
 .styled-select select {
    background: transparent;
    border: none;
    padding: 3%; /* If you add too much padding here, the options won't show in IE */
 }
 
 .styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 100%;
    width: 100%;
 }
 
 .styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 60%;
    height: 100%;
    width: 268px;
 }

 #selecttitel {
    margin-left: 0px;
    display: table-row;
    margin-right: auto;
    width:auto;
    align-content: left; 
}

  .habensiekinder {
    margin-right: 2%;
}