.bg{
    /*Hintergrundbild für die Startseiten*/
    background-image: url(../ressources/img/StartseiteBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
