
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    margin: 0;
    padding: 0;
    /*Seitenrand muss noch entfernt werden*/
}


html, body{
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    height: 100%;
}

#bootstrap-overrides h1{
    color: #002f6c;
    font-size: 3em;
    font-weight: bold;
}

#bootstrap-overrides h2{
    color: #002f6c;
    font-size: 1.5em;
    font-weight: bold;
}

#bootstrap-overrides h3{
    color: #002f6c;
    font-size: 1.25em;
    display: inline;
}

#bootstrap-overrides h4{
    /*Style für Text auf Button*/
    color: #FFFFFF;
    font-size: 1.3em;
}

#bootstrap-overrides h5{
    /*Style für Text auf Header*/
    color: #FFFFFF;
    font-size: 2em;
    padding-top: 2.5%;
}
#bootstrap-overrides h6{
    /*Style für Label*/
    color: #002f6c;
    display:inline;
}

.textfield{
    color: #4F83CC;
    font-size: 1em;
}

.box{
    background-color: #F5F5F5;
    border-style: none;
}

#sidebar{
    max-width: 17%;
}

.header{
    position: sticky;
    top: 0vh;
    background-color: #002f6c;
    padding: 0.5%;
    height: 12vh;
    /* Fixierung funktioniert noch nicht*/
}

.zHeader{
    background-color: #002f6c;
    height: 12vh;
    padding: 20px;
}

#bootstrap-overrides .headerTitle {
    text-align: center;
    flex: 1;
    padding: 0px;
}

#bootstrap-overrides .logo {
    max-width: 225px;
}

.footer{
    position: sticky;
    height: 9vh;
    bottom: 0;
    padding: 0.7%;
    background-color: #002f6c;
    text-align: right;
}

.xfooter{
    position: sticky;
    margin: 0px;
    bottom: 0px;;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #002f6c;
    text-align:right;
}

.zFooter {
    margin: 0px;
    bottom: 0px;;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #002f6c;
    text-align:right;
}

#bootstrap-overrides .footerLink {
    color: #FFFFFF;
}

/*Bootstrap Einstellungen*/
.btn-mipamova { 
    color: #FFFFFF; 
    background-color: #002F6C; 
    border-color: #002F6C; 
    width: 100%;
    height: 100%;
    padding: 0.5%;
    font-family: 'Roboto Condensed', sans-serif;
  } 
   
  .btn-mipamova:hover, 
  .btn-mipamova:focus, 
  .btn-mipamova:active, 
  .btn-mipamova.active, 
  .open .dropdown-toggle.btn-mipamova { 
    color: #FFFFFF; 
    background-color: #4F83CC; 
    border-color: #002F6C; 
  } 
   
  .btn-mipamova:active, 
  .btn-mipamova.active, 
  .open .dropdown-toggle.btn-mipamova { 
    background-image: none; 
  } 
   
  .btn-mipamova.disabled, 
  .btn-mipamova[disabled], 
  fieldset[disabled] .btn-mipamova, 
  .btn-mipamova.disabled:hover, 
  .btn-mipamova[disabled]:hover, 
  fieldset[disabled] .btn-mipamova:hover, 
  .btn-mipamova.disabled:focus, 
  .btn-mipamova[disabled]:focus, 
  fieldset[disabled] .btn-mipamova:focus, 
  .btn-mipamova.disabled:active, 
  .btn-mipamova[disabled]:active, 
  fieldset[disabled] .btn-mipamova:active, 
  .btn-mipamova.disabled.active, 
  .btn-mipamova[disabled].active, 
  fieldset[disabled] .btn-mipamova.active { 
    background-color: #002F6C; 
    border-color: #002F6C; 
  } 
   
  .btn-mipamova .badge { 
    color: #002F6C; 
    background-color: #FFFFFF; 
  }